#root {
  max-width: 1280px; 
  margin: 0 auto;
}

/* Own css from here */

body {
  margin: 0;
  background-color: #a6c9bb;
  align-items: center;
  padding: 10px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e2f3d3;
  width: 500px;
  max-width: 800px;
  height: 600px;
  border-radius: 5px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90%;
  margin: auto;
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #486a7a;
  color: #fee59a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.prompt-container {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  border-radius: 5px;
  background-color: #f0fff7;
}

.prompt-btn {
  background-color: #b6ddc4;
  color: #3e3e3c;
  font-family: 'Shantell Sans', cursive;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.prompt-btn:hover {
  background-color: #486a7a;
  color: #fee59a;
}

.prompt-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.refresh {
  display: flex;
}

.refresh-btn {
  border: none;
  background-color: #b6ddc4;
  border-radius: 50px;
}

.refresh-btn:focus {
  outline: none;
}

.refresh-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.prompt-text {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #2e2e2e;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  width: 90%;
  min-width: 300px;
  margin: 0 auto;
  align-items: center;
  border-radius: 5px;
  background-color: #f0fff7;
}

.feedback-text {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: #486a7a;
}

.next {
  display: flex;
}

.next-btn {
  border: none;
  background-color: #b6ddc4;
  border-radius: 50px;
}

.next-btn:focus {
  outline: none;
}

.next-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.feedback-result {
  display: flex;
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.refresh-all {
  display: flex;
}

.refresh-all-btn {
  border: none;
  background-color: #b6ddc4;
  border-radius: 50px;
}

.refres-all-btn:focus {
  outline: none;
}

.refresh-all-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}